.horizontal-line{
    width: 90%;
    height: 1px;
    background: rgba(0,0,0,0.5);
}
.vertical-line, .vertical-line-rp{
    width: 1px;
    height: 90%;
    background: rgba(68, 68, 68, 0.5);
}
.legend-item{
    display: flex;
    align-items: center;
    gap: 6px;
}
.scrollhide::-webkit-scrollbar{
    display: none;
}
.prr{
    padding-right: 20px;
}
.pad-8{
    padding-left: 32px;
    padding-right: 32px;
}
.h-btm{
    height: 400px;
}
.f2{
    flex: 1;
}
.f5{
    flex: 4;
}
@media (max-width:800px){
    .flex-change{
        flex-direction: column;
    }
    .pad-8{
        padding-left: 16px;
        padding-right: 16px;
    }
    .f5,.f2{
        flex: 1;
    }
    .prr{
        padding-right: 0;
    }
    .legend-item{
        font-size: 14px;
    }
    .resp800{
        height: 400px;
        flex-direction: column;
    }    
    .resp800max{
        height: 600px;
        flex-direction: column;
    }
    .b250{
        flex: 1;
    }
    .vertical-line{
        width: 90%;
        height: 1px;
    }
    .resp-xl{
        font-size: 15px;
    }
    .resp-2xl{
        font-size: 20px;
    }
    .h-btm{
        height: 800px;
    }
    .hide800{
        display: none;
    }
}